@()(implicit request: RequestHeader, flash: Flash)

@main("Login") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/loginPage.css")">
    <!-- <div id="contents">Json & Ajax</div> -->

<!--    
    <div id="top-right-image-container">
        <img src="/server/public/images/trinity.webp" alt="TU image" id="top-right-image">
    </div> -->
  
  
    <div id="home-page" hidden>
        <h3>Trinity University Resources</h3>
        <div class="clickable-div" onclick="openCategory('Academic')">Academic</div>
        <div class="clickable-div" onclick="openCategory('Health')">Health</div>
        <div class="clickable-div" onclick="openCategory('Safety')">Safety</div>
    </div>
    

    <div id="login-section"  >
        <h2>Login</h2>

        Username: <input type="text" name="username" id="username-login"></input>
        <br>
        Password: <input type="password" name="password" id="password-login"></input>
        <br>
        <button onclick="login()">Login</button>
        <button onClick= "goToCreateUser()"> Create User</button>

        
    </div>

    <div id="create-user-section" hidden>
        <h2>Create User</h2>

        Username: <input type="text" name="username" id="username-create"></input>
        <br>
        Password: <input type="password" name="password" id="password-create"></input>
        <br>
        <button onclick="createUser()">Create User</button>
    </div>

    <div id="resource-page" hidden>
        <h2 id="currentResource"></h2>
        <br />
        <table id="resource-table"></table>

        <button id="backToHomePage" onclick="back()">Back to homepage</button>
    </div>

    <div id="schedule-page" hidden>
        <h2>Book an appointment!</h2>
        <table id="week-table"></table>
    </div>


    <div id="logout" hidden></div>

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateRoute" value="@routes.TUResources.validateTU">
    <input type="hidden" id="createUserRoute" value="@routes.TUResources.createUserTU">
    <input type="hidden" id="openCategoryRoute" value="@routes.TUResources.openCategory">
    <input type="hidden" id="scheduleRoute" value="@routes.Application.schedule">

    <script src="@routes.Assets.versioned("javascript/website.js")"></script>  
}